@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3><b>Glossary Application</b></h3>
    <p class="lead">This MVC 5 Application has CRUD operations that utilizes SQLite as a persistent database.</p>
    <p><a> @Html.ActionLink("Go to Application", "Index", "Glossary/Index") &raquo;</a></p>
</div>
